*{
    margin:0;
    padding:0;
}
 body .game {
    background-color:black;
    height: 95vh;
    width: 95;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:rgb(44,139,44);

}
h1 {
  text-align: center;
}

.button{
   margin-bottom: 50px;
    display: inline-block;
    float:right;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .button2{
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    float:right;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button2:hover {background-color: #3e8e41}
  
  .button2:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

 